<header>
    <h1 class="header-title">
        {{ site.Params.title | default site.Title | emojify }}
    </h1>

    {{- if site.Params.subtitle -}}
        <h2 class="header-subtitle"><em>{{ site.Params.subtitle | emojify }}</em></h2>
    {{- end -}}

    <nav class="header-nav">
        <a href="{{ site.Home.Permalink }}">Home</a>

        {{- range $page := site.Sections -}}
            <a href="{{ $page.Permalink }}">{{ $page.Title }}</a>
        {{- end -}}

        {{- if site.IsServer -}}
            <a href="{{ site.BaseURL }}/404.html">404</a>
        {{- end -}}
    </nav>
</header>
