<header>
    <h1 class="header-title">
        {{ site.Title }}
    </h1>

    {{- if site.Params.subtitle -}}
        <h2 class="header-subtitle"><em>{{ site.Params.subtitle | emojify }}</em></h2>
    {{- end -}}

    <nav class="header-nav">
        <a href="{{ site.Home.Permalink }}"><span class="header-nav-emoji">{{ ":house:" | emojify }}</span>Home</a>

        {{- range $page := site.Sections -}}
            <a href="{{ $page.Permalink }}"><span class="header-nav-emoji">{{ printf ":%s:" $page.Params.emoji | emojify }}</span>{{ $page.Title }}</a>
        {{- end -}}

        {{- if site.IsServer -}}
            <a href="{{ site.BaseURL }}/404.html" style="color: crimson;">404</a>
        {{- end -}}
    </nav>
</header>
