{{- define "main" -}}
<main>
    <div>
        {{- range $page := .Pages -}}
            <div class="blog-item">
                <h1 class="post-header-title">
                    <a href="{{ $page.Permalink }}">
                        {{ $page.Title }}
                        {{ if $page.Draft }}
                        <small class="draft-label">(DRAFT)</small>
                        {{ end }}
                    </a>
                </h1>
                <p class="post-header-subtitle">{{ $page.Description }}</p>
                <p class="post-header-meta">
                    {{ .PublishDate.UTC.Format "January 02, 2006" }}
                    &ndash;
                    {{ .ReadingTime }} minute{{ if gt .ReadingTime 1 }}s{{ end }} read
                </p>
            </div>
        {{- else -}}
            <p>Nothing to see here...</p>
        {{- end -}}
    </div>
</main>
{{- end -}}
