@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url("/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Italic"),
    url("/fonts/Roboto/Roboto-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"),
    url("/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold Italic"),
    url("/fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed"),
    url("/fonts/Roboto Condensed/RobotoCondensed-Regular.ttf")
      format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed Italic"),
    url("/fonts/Roboto Condensed/RobotoCondensed-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed Bold"),
    url("/fonts/Roboto Condensed/RobotoCondensed-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed Bold Italic"),
    url("/fonts/Roboto Condensed/RobotoCondensed-BoldItalic.ttf")
      format("truetype");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "JetBrains Mono";
  src: local("JetBrains Mono"),
    url("/fonts/JetBrains Mono/JetBrainsMono-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Noto Color Emoji";
  src: local("Noto Color Emoji"),
    url("/fonts/Noto Color Emoji/NotoColorEmoji.ttf") format("truetype");
}
