@font-face {
  font-family: "Noto Sans";
  src: local("Noto Sans Regular"),
    url("/fonts/Noto Sans/NotoSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Noto Sans";
  src: local("Noto Sans Italic"),
    url("/fonts/Noto Sans/NotoSans-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Noto Sans";
  src: local("Noto Sans Bold"),
    url("/fonts/Noto Sans/NotoSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Noto Sans";
  src: local("Noto Sans Bold Italic"),
    url("/fonts/Noto Sans/NotoSans-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "JetBrains Mono";
  src: local("JetBrains Mono Regular"),
    url("/fonts/JetBrains Mono/JetBrainsMono-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

body {
  background-color: rgb(250, 250, 250);
  color: rgb(35, 35, 35);
  font-family: "Noto Sans", sans-serif;
  margin: 1em;
}

a {
  color: rgb(70, 70, 70);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: rgb(140, 140, 140);
}

code {
  font-family: "JetBrains Mono", monospace;
}

footer {
  margin-top: 2em;
}

.header-title {
  font-size: x-large;
}

.header-subtitle {
  font-size: larger;
}

.header-nav > a {
  font-size: large;
  margin-right: 0.5em;
}

.post-title {
  font-size: xx-large;
}

.post-description {
  font-size: large;
}

.draft-label {
  color: crimson;
  font-weight: bold;
}

.highlight {
  margin: 1em;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(35, 35, 35);
    color: rgb(250, 250, 250);
  }

  a {
    color: rgb(140, 140, 140);
  }

  a:hover {
    color: rgb(230, 230, 230);
  }
}
